.row {
    color: white;
    padding-bottom: 50px;;
}
.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.heading {
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

@media screen and (max-width: 768px) {
    .heading p {
        font-size: 0.7rem;  
    }    
}


.heading h1,
.heading p {
    color: #000;
    padding: 20px;
    line-height: 1.5;
}


.row_posters::-webkit-scrollbar {
    display: none;
}

.row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 250px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row_poster:hover {
    transform: scale(1.08);
}

.row_posterLarge:hover {
    transition: scale(1.09);
}