.container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 80px 0;
}
.container2 .card2 {
    position: relative;
    width: 320px;
    height: 320px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .container2 .card2 {
        width: 250px;
        height: 250px;
    }    
}

.imgCx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}