.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000;
    padding: 80px 0;
}

.container .card {
    position: relative;
    width: 320px;
    height: 320px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .container .card {
        width: 250px;
        height: 250px;
    }    
}

.container .card .imgBx,
.container .card .contentBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .contentBx::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff7b54;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
    transition-delay: 0.5s;
}

.container .card:hover .contentBx::before {
    transform: scaleX(1);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
    transition-delay: 0s;
}

.container .card .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .contentBx .content {
    position: relative;
    padding: 30px;
    z-index: 1;
    transition: 0.5s;
    transform: translateX(-400px);
    transition-delay: 0s;
}

.container .card:hover .contentBx .content {
    transform: translateX(0);
    transition-delay: 0.5s;
}

.container .card .contentBx h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 1px
} 
