.banner {
    color: white;
    object-fit: contain;
    height: 55vh;
}

.banner_contents {
    width: 100%;
    padding-top: 100px;
    text-align: center;

}

.banner_title {
    font-size: 8rem;
    padding-bottom: 0.8rem;
}
.banner_description {
    margin: 30px;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .banner_description {
        font-size: 0.6rem;  
    }    
}

.fadebottom {
    height: 100vh;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37, 37, 37, 0.61),
        #111
    );
}